# MySQL
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=paylaterdb
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password

# Database
DB_HOST=mysql
DB_PORT=3306
DB_NAME=paylaterdb

# JWT
JWT_SECRET=your_jwt_secret

# Internal Service Token
INTERNAL_API_TOKEN=your_internal_api_token

# Service URLs
AUTH_SERVICE_URL=http://authservice:8081
USER_SERVICE_URL=http://userservice:8082
MERCHANT_SERVICE_URL=http://merchantservice:8083
TRANSACTION_SERVICE_URL=http://transactionservice:8084
PAYBACK_SERVICE_URL=http://paybackservice:8085
REPORT_SERVICE_URL=http://reportservice:8086